<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Owner Losses and Wins</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Owner Losses and Wins</h1>
<!-- My database information will be shown here -->
    <section class="wins"></section>
    <section class="losses"></section>
    <form action="/stats" class="" method="put">
      <input type="text" name="budget" value="">
      <button type="submit" name="button"></button>
    </form>
    <section class="budget"></section>
    <script src="owner.js" type="text/javascript"></script>
  </body>
</html>
